.side-projects-body {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

@media only screen and (max-width: 480px) {
    .side-projects-body {
        grid-template-columns: none;
        grid-auto-flow: row;
    }
}