p.disclaimer {
    margin: 48px;
}

.breakfast-main {
    display: grid;
    background-blend-mode: darken;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://tobyladimages.blob.core.windows.net/images/boc-bg.webp');
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-family: "Macondo", cursive;
    height: 100vh;
    margin: 0;
    position: relative;
}

.breakfast-main .breakfast-content {
    margin: 48px;
}

.breakfast-content h1 {
    display: grid;
    text-align: center;
    height: 40px;
    margin: 24px auto;
}

.game-options-wrapper {
    display: grid;
    padding: 8px 24px;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 56px;
}

.game-options {
    font-size: 24px;
    margin: auto;
    width: 200px;
    height: 32px;
}

.game-options .icon {
    color: #C25811;
    padding: 0 8px;
    width: 40px;
}

@media only screen and (max-width: 600px) {
    .breakfast-main h1 {
        font-size: 1.5em;
    }
}
  