body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.site-header {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    background-color: #B4DA55;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.site-header div {
    margin: auto;
}

.site-header-name {
    grid-column: 1 / 2;
}

.site-header-title {
    grid-column: 3 / 4;
}

.site-body {
    display: grid;
    margin: 80px 40px;
}

.site-cell {
    display: grid;
    grid-template-rows: 6fr 2fr;
    color: #000;
    width: 320px;
    height: 320px;
}

.site-cell p {
    font-size: 24px;
    font-weight: 500px;
    margin: auto;
}

.hide {
    display: none;
}

@media only screen and (max-width: 480px) {
    .site-body {
        grid-template-columns: none;
        grid-auto-flow: row;
        margin: 80px 20px;
    }
}