.retro-wrapper {
    background-color: #010162;
    color: #FFF;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
    filter: blur(1px);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.retro-header {
    display: grid;
    grid-template-columns: 2fr 8fr 4fr;
    background: 
        linear-gradient(
            -45deg,
            #0201A4 20%,
            #FF7518 21%
        )
    ;
    border-bottom: 2px solid #0201A4;
    box-shadow: 4px 4px 4px #4E4DBF;
    height: 12vh;
    width: 100%;
} 

.retro-header-logo img {
    height: 160px;
    width: 160px;
}

.retro-header-weather-stats {
    font-size: 36px;
}

.weather-location {
    cursor: pointer;
}

.retro-header-weather-stats span.weather-page-type {
    color: #FFEB00;
}

.retro-header-datetime {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 24px;
    height: 96px;
    margin-left: 16%;
}

.retro-header-time {
    display: grid;
    grid-row-start: 2;
}

.retro-header-date {
    display: grid;
    grid-row-start: 3;
}

.retro-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    background:
        linear-gradient(
            to bottom,
            #0201A4 35%,
            #FF7518 100%
        )
    ;
    height: 76vh;
    width: 100%;
    margin-top: 8px;
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .retro-header {
        grid-template-columns: 2fr 8fr 6fr;
        background: linear-gradient(
            -45deg,
            #0201A4 20%,
            #FF7518 21%
        );
        background-size: cover;     /* Ensures background covers the entire div */
        background-position: center; /* Center the background on mobile */
        min-width: 100vw;  /* Ensure full width on small mobile screens */
    }

    .retro-header-logo img {
        height: 96px;
        width: 96px;
    }

    .retro-header-weather-stats {
        font-size: 20px;
    }

    .retro-header-datetime {
        font-size: 16px;
    }

    .retro-body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 8px;
        height: 3000px;
    }
}
