.retro-wrapper {
    background-color: #010162;
    color: #FFF;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
    filter: blur(1px);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.retro-wrapper-overlay {
    filter: brightness(25%);
    pointer-events: none;
}

.retro-header {
    display: grid;
    grid-template-columns: 2fr 8fr 4fr;
    background: 
        linear-gradient(
            -45deg,
            #0201A4 20%,
            #FF7518 21%
        )
    ;
    border-bottom: 2px solid #0201A4;
    box-shadow: 4px 4px 4px #4E4DBF;
    height: 12vh;
    width: 100%;
} 

.retro-header-logo img {
    height: 160px;
    width: 160px;
}

.retro-header-weather-stats {
    font-size: 36px;
}

.weather-location {
    display: grid;
    grid-template-columns: 9fr 1fr;
    cursor: pointer;
}

.weather-location span {
    align-self: start;
}

.weather-location button.search-by-zip {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-size: 24px;
    margin: auto;
}

.retro-header-weather-stats span.weather-page-type {
    color: #FFEB00;
}

.retro-header-datetime {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 24px;
    height: 96px;
    margin-left: 16%;
}

.retro-header-time {
    display: grid;
    grid-row-start: 2;
}

.retro-header-date {
    display: grid;
    grid-row-start: 3;
}

.retro-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    background:
        linear-gradient(
            to bottom,
            #0201A4 35%,
            #FF7518 100%
        )
    ;
    height: 76vh;
    width: 100%;
    margin-top: 8px;
}

.retro-modal {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid #FFF;
    color: #FFF;
    font-family: "VT323", system-ui;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:
        linear-gradient(
            to bottom,
            #0201A4 35%,
            #705b4e 100%
        )
    ;
    padding: 8px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
    text-align: center;
    /* width: 320px; */
    height: 240px;
    /* order: 2; */
    z-index: 2;
}

.retro-modal-message {
    margin: auto;
}

.retro-modal-input {
    background: transparent;
    border: 2px solid #FFF;
    caret-color: #FF7518;
    color: #FF7518;
    margin: auto;
    font-family: "Orbitron", sans-serif;
    font-size: 32px;
    padding: 16px;
    text-align: center;
}

.retro-modal-submit {
    background-color: #010162;
    color: #FFEB00;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 16px;
    text-align: center;
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .retro-header {
        grid-template-columns: 2fr 8fr 6fr;
        background: linear-gradient(
            -45deg,
            #0201A4 20%,
            #FF7518 21%
        );
        background-size: cover;     /* Ensures background covers the entire div */
        background-position: center; /* Center the background on mobile */
        min-width: 100vw;  /* Ensure full width on small mobile screens */
    }

    .retro-header-logo img {
        height: 96px;
        width: 96px;
    }

    .retro-header-weather-stats {
        font-size: 20px;
    }

    .retro-header-datetime {
        font-size: 16px;
    }

    .retro-body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 8px;
        height: 3000px;
    }
}
